<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="6.0.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Actors" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Wcf" version="2.8.232" targetFramework="net452" />
  <package id="Microsoft.VisualStudio.Azure.Fabric.MSBuild" version="1.6.4" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.3" targetFramework="net452" />
  <package id="ServiceFabric.PubSubActors" version="7.3.0" targetFramework="net452" />
  <package id="ServiceFabric.PubSubActors.Interfaces" version="7.3.0" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net452" />
</packages>