<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="6.1.472" targetFramework="net451" />
  <package id="Microsoft.ServiceFabric.Actors" version="3.0.472" targetFramework="net451" />
  <package id="Microsoft.ServiceFabric.Data" version="3.0.472" targetFramework="net451" />
  <package id="Microsoft.ServiceFabric.Diagnostics.Internal" version="3.0.472" targetFramework="net451" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="3.0.472" targetFramework="net451" />
  <package id="Microsoft.ServiceFabric.Services" version="3.0.472" targetFramework="net451" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="3.0.472" targetFramework="net451" />
  <package id="Microsoft.VisualStudio.Azure.Fabric.MSBuild" version="1.6.5" targetFramework="net451" />
  <package id="Newtonsoft.Json" version="11.0.2" targetFramework="net451" />
  <package id="ServiceFabric.PubSubActors" version="7.3.4" targetFramework="net452" />
  <package id="ServiceFabric.PubSubActors.Interfaces" version="7.3.4" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.4.0" targetFramework="net451" />
</packages>