<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.ServiceFabric" version="5.5.216" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Actors" version="2.5.216" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Data" version="2.5.216" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.FabricTransport.Internal" version="2.5.216" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services" version="2.5.216" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Remoting" version="2.5.216" targetFramework="net452" />
  <package id="Microsoft.ServiceFabric.Services.Wcf" version="2.5.216" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="10.0.1" targetFramework="net452" />
  <package id="ServiceFabric.PubSubActors" version="5.0.0" targetFramework="net452" />
  <package id="ServiceFabric.PubSubActors.Interfaces" version="5.0.0" targetFramework="net452" />
  <package id="SFNuGet" version="0.3.30" targetFramework="net452" />
  <package id="System.Collections.Immutable" version="1.3.1" targetFramework="net452" />
</packages>